
.cuadro{
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center  ;
  margin-left: 30px;
}
h1{
  width: 100%;
  text-align: center;
  border: black solid;
}

.palabras{
padding-left: px;
width: 30%;

}

.letras{
padding-left: 30px;
width: 50%;
}

.sopa{
  width: 50%;
}

.center{
  width: center;
}

th {margin: 15px;
background-color:violet ;
border: solid indigo 2px;
}